header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
    cursor:context-menu;
}

nav.menu-lateral {
    width: 70px;
    height: 100%;
    background-color: #202020;
    padding: 30px 0 30px 15px;
    box-shadow: 3px 0 0 rgb(145, 63, 145);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.2s;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir>i {
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 30px 20px 50px 1%;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.item-menu {
    transition: 0.2s;
}

ul li.ativo {
    background-color: rgb(145, 63, 145);
}

ul li.item-menu:hover {
    background: rgb(145, 63, 145);
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 20px;
}

ul li.item-menu a .icon>i {
    font-size: 30px;
    margin-left: 7px;
}

nav.menu-lateral.expandir {
    width: 300px;
}

header {
    width: 100%;
    height: 70px;
    background-color: #202020;
    padding: 40px 0 55px 35px;
    box-shadow: 3px 0 0 rgb(145, 63, 145);
    position: fixed;
    top: 0;
    left: 50px;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 0 3px 0 rgb(145, 63, 145);
}
 
#menu-superior{
    display: flex;
}

ul li.item-header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    margin: 0 50px 50px 20px;
    transition: .2s;
    text-decoration: solid;
    margin-bottom: 50px;
    line-height: 40px;
    cursor: pointer;
}

ul li.item-header a .icon>i {
    font-size: 30px;
    margin-left: 10px;
    cursor: pointer;
}

ul li.item-header a .txt-link{
    margin-left: 20px;
    cursor: pointer;
}

#pg_escondida{
    left: 0;
}