body{
    background-color: transparent;
}
main {
    margin: 8% -7% 8% 17%;
    width: 70%;
    
}

#p1{
    background-image: url(../img/fundop1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px 0px 0px 0px;
}
#p2{
    background-image: url(../img/fundop2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 85px 0px 0px 0px;
}
#p3{
    background-image: url(../img/fundop3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 85px 0px 0px 0px;
}

#p4{
    background-image: url(../img/fundop4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 85px 0px 0px 0px;
}

#pgescondida{
    background-image: url(../img/fundo_esteregg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 85px 0px 0px 0px;
}

.fundo{
    border: 5px solid;
    background-color: gray;
    border-radius: 15px;
    margin: 15px 0;
}

.imgmanga{
    width: 19%;
    height: 19%;
    border: 5px solid;
    border-radius: 3%;
    margin: 20px 15px 50px 15px;
}

.titulo_manga{
    font: normal 40px Arial;
    text-align: center;
    margin-top: 5%;
}

.sinopsemanga{
    font-size: 170%;
    font-weight: bold;
    margin: 15px;
}
.titulo_pg{
    background-color: gray;
    font: normal 40px Arial;
    border: 10px solid;
    border-radius: 13px;
    margin: 15px;
}
.p_a_manga{
    font-size: 120%;
    font-weight: bold;
    margin: 15px;
}

.p_autor{
    font-size: 26px;
    font-weight: bold;
    margin: 15px;
}

.a_manga{
    color: rgb(0, 0, 0);
    background-color: rgb(134, 134, 134);
    font-size: 90%;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border: 3px solid; 
    border-radius: 13px;
    transition: color 0.3s;
}

.a_manga:hover{
    color: rgb(16, 16, 92);
    background-color: rgb(160, 85, 230);
}

#esteregg{
    background-color: gray;
    font-size: 100%;
    text-decoration: none;
    transition: color 0.3s;
    border: none;
    margin: 0px 0px 0px 0px;
}

#imgesteregg{
    width: 250px;
    height: 200px;
    border: none;
    border-radius: none;
    
}
button{
    background-color: transparent;
    border: none;
    width: 20%;
}

#nerd{
    width: 20%;
    height: 20%;
    margin: 75px 15px 35px 15px;
}

span{
    font:bold;
    color: white;
}

#giorno{
    border: none;
    width: 25%;
    height: 25%;
    margin: 10px;
}

#imglouvre{
    border: none;
    width: 370px;
    height: 370px;
}

.img_arte{
    width: 25%; 
    height: 25% ; 
    border: none;
    margin: 75px 15px 35px 15px;
}

.imgul{
    width: 30%;
    height: 40%;
    margin: 5px;
    border: 5px solid black;
    border-radius: 3%;
    transition: .2s;
}

.imgul:hover{
    border: 5px solid violet;
}

.ulanime{
    height: 100%;
    font-size: 25px;
    margin: 5px;
    list-style-type: none;
    text-align: center;
}
#meme{
    width: 350px;
    height: 90px;
    margin: 10px;
}