footer {
    bottom: 0;
    width: 95%;
    background-color: gray;
    padding: 10px;
    box-shadow: 0 0 0 3px rgb(145, 63, 145);
    margin: 0 0 0 5%;
}

#msgfooter{
    font-size: 35px;
    font-family: Arial;
}

.agradecimentos{
    margin: 10px;
    font-size: 20px
}