body {
    background-color: rgb(143, 142, 142);
    margin: 0;
}

main {
    margin: 8% -7% 8% 17%;
    width: 70%;
}

#pinicial {
    background-image: url(../img/);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 0 0 0;
}

#p1 {
    background-image: url(../img/fundop1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 12% 0 0 0%;
}

#p2 {
    background-image: url(../img/fundop2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 12% 0 0 0;
}

#p3 {
    background-image: url(../img/fundop3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 12% 0 0 0;
}

#p4 {
    background-image: url(../img/fundop4.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 12% 0 0 0;
}

#pgescondida {
    background-image: url(../img/fundo_esteregg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 12% 0 0 0;
}

#pgreferencia {
    background-image: url(../img/fundo_referencias.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 12% 0 0 0;
}

.fundo {
    border: 2px solid;
    background-color: gray;
    border-radius: 15px;
    margin: 3% 0;
}

.imgmanga {
    width: 25.8%;
    height: 27.8%;
    border: 1.5%;
    margin: -1% 2% 3% 2%;
}

.titulo_manga {
    font: normal 2.8vw Arial;
    text-align: center;
    margin: 3% 1%;
}

.sinopsemanga {
    font-size: 1.6vw;
    font-weight: bold;
    margin: 3% 1%;
}

.titulo_pg {
    background-color: gray;
    font: normal 2.8vw Arial;
    border: 1.5%;
    border-radius: 3%;
    margin: 3% 1%;
}

.p_a_manga {
    font-size: 2.4vw;
    font-weight: bold;
    margin: 3% 1%;
}

.p_autor {
    font-size: 1.4vw;
    font-weight: bold;
    margin: 3% 1%;
}

.a_manga {
    color: rgb(0, 0, 0);
    background-color: rgb(134, 134, 134);
    font-size: 1.8vw;
    font-weight: bold;
    padding: 1.5%;
    text-decoration: none;
    border: 3px solid;
    border-radius: 15px;
    transition: color 0.3s;
}

.a_manga:hover {
    color: rgb(16, 16, 92);
    background-color: rgb(160, 85, 230);
}

#esteregg {
    background-color: gray;
    font-size: 2vw;
    text-decoration: none;
    transition: color 0.3s;
    border: none;
    margin: 0;
}

#imgesteregg {
    width: 12.5%;
    height: 10%;
    border: none;
    border-radius: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    width: 2%;
}

#nerd {
    width: 3%;
    height: 3%;
    margin: 6% 1.5% 3% 1.5%;
}

span {
    font: bold;
    color: white;
}

#giorno {
    border: none;
    width: 3.75%;
    height: 3.75%;
    margin: 1%;
}

#imglouvre {
    border: none;
    width: 27.8%;
    height: 27.8%;
}

.img_arte {
    width: 3.75%;
    height: 3.75%;
    border: none;
    margin: 6% 1.5% 3% 1.5%;
}

.imgul {
    width: 7.5%;
    height: 10%;
    margin: 1.5%;
    border: 1.5% solid black;
    border-radius: 3%;
    transition: 0.2s;
    cursor: pointer;
}

.imgul:hover {
    border: 1.5% solid violet;
}

.ulanime {
    height: 100%;
    font-size: 1.25vw;
    margin: 1.5%;
    list-style-type: none;
    text-align: center;
}

#meme {
    width: 27.8%;
    height: 7%;
    margin: 1.5%;
}

.img_pg_autor {
    margin: 6% 1.5% 3% 1.5%;
    height: 3.75%;
    border: 1% solid;
}

.titulo_referencia {
    font-size: 3.75vw;
}

.imgpose {
    width: 5.25%;
    height: 5.25%;
    margin: 6% 0.75% 0 0.75%;
}

.anmusica {
    width: 12.5%;
    height: 15%;
    margin: 6% 0.75% 0 0.75%;
    cursor: pointer;
}
